* {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: black;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.row div {
  width: 20px;
  height: 20px;
}

.cyan { background-color: cyan; }
.black { background-color: black; }
.red { background-color: red; }
.white { background-color: white; }
