* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
#container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

div {
  align-items: center;
  justify-content: center;
}

div
.black,
.red,
.brown,
.green,
.white,
.blue,
.beige {
  border: 1px solid black;
  width: 15px;
  height: 15px;
}

.cyan {
  background-color: cyan;
  width: 15px;
  height: 15px;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.brown {
  background-color: brown;
}

.beige {
  background-color: beige;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.row {
  display: flex;
  flex-flow: row wrap;
}
